<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<!-- We add the parameters to display a map for that location: center=<%= @location.address %> tells the google map to center the map at the address of that location and size=400x400 tells google maps that the image should be 400pixels by 400pixels. -->
<img src="https://maps.googleapis.com/maps/api/streetview?location=<%= @location.address %>&size=400x400" >
<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @location.address %>&size=400x400" >

<!-- The “.nearbys” function queries for nearby locations. We assign the @nearbylocations variable to this query. The value in the () sets the distance (in miles) away of the nearby locations to show. -->
<h2>Nearby Locations</h2>
<ul>
<% @nearbylocations= @location.nearbys(10) %>
<% @nearbylocations.each do |location| %>
<!--    To add the distance away of the nearby location, we use the geocoder function “.distance.round(2)” which displays the distance away rounded to 2 decimal places. -->
  <li><%= location.name %> - <%= location.distance.round(2) %> miles</li>
<%end%>
</ul>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
